{
    "times": {
        "start": "2022-01-01",
        "end": "2023-01-01",
        "frequency": 2,
        "duration": [
            2,
            4,
            6,
            8,
            10
        ],
        "samples": [
            100
        ]
    },
    "model": {
        "cr": 1.5,
        "potential": true,
        "potential_degree": 10,
        "potential_order": 10,
        "moon": true,
        "sun": true,
        "srp": false,
        "srp_estimate": false
    },
    "noise": {
        "frame": "rtn",
        "std": [
            0.43e3,
            5.7e3,
            0.17e3,
            7.0,
            0.43,
            0.19
        ]
    },
    "spacecraft": [
        {
            "tle": "./data/tle/8820.json",
            "sp3": "./data/sp3/lageos1/*.sp3",
            "sp3name": "L51",
            "output": "./output/LAGEOS1",
            "model": {
                "mass": 406.965,
                "area_srp": 0.282743338
            }
        },
        {
            "tle": "./data/tle/22195.json",
            "sp3": "./data/sp3/lageos2/*.sp3",
            "sp3name": "L52",
            "output": "./output/LAGEOS2",
            "model": {
                "mass": 405.38,
                "area_srp": 0.282743338
            }
        },
        {
            "tle": "./data/tle/19751.json",
            "sp3": "./data/sp3/etalon1/*.sp3",
            "sp3name": "L53",
            "output": "./output/ETALON1",
            "model": {
                "mass": 1415.0,
                "area_srp": 1.315098959
            }
        },
        {
            "tle": "./data/tle/20026.json",
            "sp3": "./data/sp3/etalon2/*.sp3",
            "sp3name": "L54",
            "output": "./output/ETALON2",
            "model": {
                "mass": 1415.0,
                "area_srp": 1.315098959
            }
        }
    ]
}