{
    "times": {
        "start": "2022-01-01",
        "end": "2023-01-01",
        "frequency": 2,
        "duration": [
            2,
            4,
            6,
            8,
            10
        ],
        "samples": [
            100
        ]
    },
    "model": {
        "cr": 1.5,
        "potential": true,
        "potential_degree": 10,
        "potential_order": 10,
        "moon": true,
        "sun": true,
        "srp": false,
        "srp_estimate": false
    },
    "noise": {
        "frame": "rtn",
        "std": [
            0.43e3,
            5.7e3,
            0.17e3,
            7.0,
            0.43,
            0.19
        ]
    },
    "spacecraft": [
        {
            "tle": "./data/tle/8820.json",
            "sp3": "./data/sp3/lageos1/*.sp3",
            "sp3name": "L51",
            "output": "./output/LAGEOS1",
            "model": {
                "mass": 406.965,
                "area_srp": 0.282743338
            },
            "bias": {
                "model": "simplifiedalongtracksinusoidal",
                "parameters": [
                    1.40700725e-05,
                    2.75290181e01,
                    6.81809676e-02,
                    -1.78988015e-08
                ]
            }
        },
        {
            "tle": "./data/tle/22195.json",
            "sp3": "./data/sp3/lageos2/*.sp3",
            "sp3name": "L52",
            "output": "./output/LAGEOS2",
            "model": {
                "mass": 405.38,
                "area_srp": 0.282743338
            },
            "bias": {
                "model": "simplifiedalongtracksinusoidal",
                "parameters": [
                    2.27751518e-06,
                    2.65578921e01,
                    -1.18937904e01,
                    -4.00263767e-06
                ]
            }
        },
        {
            "tle": "./data/tle/19751.json",
            "sp3": "./data/sp3/etalon1/*.sp3",
            "sp3name": "L53",
            "output": "./output/ETALON1",
            "model": {
                "mass": 1415.0,
                "area_srp": 1.315098959
            },
            "bias": {
                "model": "simplifiedalongtracksinusoidal",
                "parameters": [
                    0.0000481698,
                    27.517413901,
                    -0.9166897626,
                    -0.0000004426
                ]
            }
        },
        {
            "tle": "./data/tle/20026.json",
            "sp3": "./data/sp3/etalon2/*.sp3",
            "sp3name": "L54",
            "output": "./output/ETALON2",
            "model": {
                "mass": 1415.0,
                "area_srp": 1.315098959
            },
            "bias": {
                "model": "simplifiedalongtracksinusoidal",
                "parameters": [
                    6.74243067e-05,
                    2.75729501e01,
                    -1.79831002e-01,
                    7.78580745e-08
                ]
            }
        }
    ]
}